<footer id="footer" class="footer">
    <div class="copyright">
        <span>© <%= config.author %> | 由 <a href="https://hexo.io" target="_blank">Hexo</a> 与 <a href="https://github.com/Siricee/hexo-theme-Chic" target="_blank">Chic</a> 支持 </span>
    </div>
</footer>
